.card {
  background-color: #96d6f1;
  color: #F5FBFF ;
  .width {
    width: 90%;
  }
  input {
    box-shadow: none !important;
  }
  .btn {
    background: #7A8EA5;
    border: none;
    --bs-btn-focus-box-shadow: none !important;
    cursor: pointer !important;
    &:hover{
        background-color: #FF7F3E !important;
    }
  }
}
